nav {
    border: 2px solid green;
    display:flex;
    justify-content: space-between;
    background-color: rgba(206, 208, 211, 0.158);
}

.left-nav {
    border: 2px solid green;
    display: flex;
    align-items: center;
}

.left-nav img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.right-nav {
    border: 2px solid green;
}

ul {
    border: 2px solid green;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

li {
    border: 2px solid green;
    list-style: none;
}

header {
    border: 2px solid orange;
}

#duck {
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#duck img {
    width: 300px;
    height: 300px;
}

.text {
    border: 2px solid yellow;
}

.text p {
    border: 2px solid yellow;
}

.duck {
    border: 2px solid yellow;
    display: flex;
}

#emergency {
    border: 2px solid blue;
}

.grid-container {
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    width: 80%;
    margin: 0 auto;

}

.grid-item {
    border: 2px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

}

footer {
    border: 2px solid red;
    display: flex;
    flex direction: column;
    text-align: center;
}